/* line 3, ../../destan.github.io/_assets/stylesheets/home.scss */
h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid #aaa;
  line-height: 1.5em;
  /*this is meant to be `em`*/
  color: #333;
  margin-bottom: 1rem;
}
/* line 10, ../../destan.github.io/_assets/stylesheets/home.scss */
h2 .slogan {
  font-size: 0.5em;
  border-left: 1px solid;
  padding-left: 5px;
}

/* line 17, ../../destan.github.io/_assets/stylesheets/home.scss */
ul {
  padding-left: 20px;
}

/* line 21, ../../destan.github.io/_assets/stylesheets/home.scss */
#moreOfMe {
  display: none;
}

/* line 25, ../../destan.github.io/_assets/stylesheets/home.scss */
#me {
  max-width: 100%;
}

/*
  Timeline
  ========
*/
/* line 33, ../../destan.github.io/_assets/stylesheets/home.scss */
#timeline > div {
  overflow: hidden;
  white-space: nowrap;
}

/*let bootstrap tooltips wrap properly*/
/* line 39, ../../destan.github.io/_assets/stylesheets/home.scss */
#timeline > div .tooltip {
  white-space: normal;
}

/* line 43, ../../destan.github.io/_assets/stylesheets/home.scss */
.timeline-date {
  text-align: right;
  min-width: 6ex;
  display: inline-block;
}

/* line 49, ../../destan.github.io/_assets/stylesheets/home.scss */
.timeline-desc, .timeline-date {
  cursor: pointer;
}

/* line 53, ../../destan.github.io/_assets/stylesheets/home.scss */
.timeline-desc:before {
  content: " ";
}

/* line 57, ../../destan.github.io/_assets/stylesheets/home.scss */
.corporate {
  color: #1E81F5;
}

/* line 61, ../../destan.github.io/_assets/stylesheets/home.scss */
.life {
  /*color: #F5BA1E;*/
}

/* line 65, ../../destan.github.io/_assets/stylesheets/home.scss */
.love {
  color: firebrick;
}

/* line 69, ../../destan.github.io/_assets/stylesheets/home.scss */
.tooltip.left {
  margin-left: -37px !important;
  margin-top: -5px !important;
}
