@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
/* line 1, ../../destan.github.io/_assets/stylesheets/menu.scss */
nav.navbar {
  border-radius: 0;
}

/* line 5, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .active {
  background-color: #555;
}

/* line 8, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #555;
}

/* line 13, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default {
  background-color: #aaa;
  border: 0;
  border-left: 10px solid #888;
}
/* line 18, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:active {
  padding: 15px 15px 15px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #080808;
}
/* line 25, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default .navbar-collapse {
  padding-left: 0;
}

/* line 31, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li {
  border-bottom: 3px solid #888;
}

/* line 35, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.home, .navbar-default.home {
  border-color: #F5BA1E;
}

/* line 39, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.blog, .navbar-default.blog {
  border-color: #1E81F5;
}

/* line 43, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.projects, .navbar-default.projects {
  border-color: #8BB815;
}

/* line 47, ../../destan.github.io/_assets/stylesheets/menu.scss */
i.social-icons {
  display: inline-block;
  font-size: 24px;
}

/* line 52, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav.social-icons {
  float: right;
}
/* line 55, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav.social-icons > li {
  border: 0;
}

/* line 60, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 64, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav.social-icons > li > a, .navbar .nav.social-icons > li > a:hover, .navbar .nav.social-icons > li > a:visited, .navbar .nav.social-icons > li > a:active {
  padding: 14px 10px 14px 10px;
}

/* line 7, ../../destan.github.io/_assets/stylesheets/main.scss */
#text404 {
  text-align: center;
}

/* line 12, ../../destan.github.io/_assets/stylesheets/main.scss */
header #siteTitle {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 40px;
}
/* line 18, ../../destan.github.io/_assets/stylesheets/main.scss */
header #siteTitle > a, header #siteTitle > a:hover, header #siteTitle > a:visited, header #siteTitle > a:active {
  color: #666;
  text-decoration: none;
}
/* line 23, ../../destan.github.io/_assets/stylesheets/main.scss */
header #siteTitle .slogan {
  font-size: 0.5em;
  border-left: 1px solid;
  padding-left: 5px;
}
/* line 30, ../../destan.github.io/_assets/stylesheets/main.scss */
header #quoteContainer {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
/* line 36, ../../destan.github.io/_assets/stylesheets/main.scss */
header #quoteContainer section > div {
  display: inline-block;
}
/* line 40, ../../destan.github.io/_assets/stylesheets/main.scss */
header #quoteContainer .kg-by {
  margin-left: 15px;
}

/* line 46, ../../destan.github.io/_assets/stylesheets/main.scss */
#footerPusher {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

/* line 51, ../../destan.github.io/_assets/stylesheets/main.scss */
#footerPusher:after {
  content: "";
  display: block;
}

/* line 55, ../../destan.github.io/_assets/stylesheets/main.scss */
footer, #footerPusher:after {
  /* .push must be the same height as footer */
  height: 50px;
}

/* line 60, ../../destan.github.io/_assets/stylesheets/main.scss */
footer {
  text-align: center;
  border-top: 1px solid #eeeeee;
  line-height: 49px;
  /* minus 1 to prevent that unnecessary vertical scroll */
  color: gray;
  position: relative;
}
/* line 67, ../../destan.github.io/_assets/stylesheets/main.scss */
footer a, footer a:visited, footer a:active {
  color: gray;
  text-decoration: none;
}
/* line 72, ../../destan.github.io/_assets/stylesheets/main.scss */
footer #buildVersion {
  position: absolute;
  top: 0;
  left: 0;
  color: #fafafa;
  z-index: -1;
}
/* line 80, ../../destan.github.io/_assets/stylesheets/main.scss */
footer #poweredBy {
  position: absolute;
  font-size: 0.7rem;
  top: 0;
  right: 0;
}
