/* line 4, ../../destan.github.io/_assets/stylesheets/menu.scss */
nav.navbar {
  border-radius: 0;
}

/* line 8, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .active {
  background-color: transparent;
}

/* line 17, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:visited,
.navbar-default .navbar-nav > li.active > a:active {
  background: transparent;
  color: #515151;
}

/* line 23, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a:hover {
  background-color: transparent;
}

/* line 27, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default {
  background-color: transparent;
  border: 0;
}
/* line 31, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-default .navbar-collapse {
  padding-left: 0;
}

/* line 37, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-nav > li > a {
  padding: 15px 0 5px 5px;
  font-size: 1.3rem;
}

/* line 42, ../../destan.github.io/_assets/stylesheets/menu.scss */
.nav.navbar-nav:not(.social-icons) > li {
  margin-right: 10px;
  min-width: 100px;
}

/* line 47, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li {
  border-bottom: 3px solid #888;
}

/* line 65, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.home {
  border-color: #dd4814;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 55, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.home:hover, .navbar .nav > li.home.active {
  text-shadow: 5px 2px 5px #dd4814, -5px -2px 5px #dd4814;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 59, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.home:hover a, .navbar .nav > li.home.active a {
  color: #000 !important;
}

/* line 69, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.blog {
  border-color: #4285f4;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 55, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.blog:hover, .navbar .nav > li.blog.active {
  text-shadow: 5px 2px 5px #4285f4, -5px -2px 5px #4285f4;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 59, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.blog:hover a, .navbar .nav > li.blog.active a {
  color: #000 !important;
}

/* line 73, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.talks {
  border-color: #f4b400;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 55, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.talks:hover, .navbar .nav > li.talks.active {
  text-shadow: 5px 2px 5px #f4b400, -5px -2px 5px #f4b400;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 59, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.talks:hover a, .navbar .nav > li.talks.active a {
  color: #000 !important;
}

/* line 77, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.projects {
  border-color: #0f9d58;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 55, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.projects:hover, .navbar .nav > li.projects.active {
  text-shadow: 5px 2px 5px #0f9d58, -5px -2px 5px #0f9d58;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}
/* line 59, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav > li.projects:hover a, .navbar .nav > li.projects.active a {
  color: #000 !important;
}

/* line 81, ../../destan.github.io/_assets/stylesheets/menu.scss */
i.social-icons {
  display: inline-block;
  font-size: 24px;
}
/* line 85, ../../destan.github.io/_assets/stylesheets/menu.scss */
i.social-icons:hover {
  color: gray;
}

/* line 90, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav.social-icons {
  float: right;
}
/* line 93, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav.social-icons > li {
  border: 0;
}

/* line 102, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar .nav.social-icons > li > a, .navbar .nav.social-icons > li > a:hover, .navbar .nav.social-icons > li > a:visited, .navbar .nav.social-icons > li > a:active {
  padding: 14px 10px 14px 10px;
}

/* line 106, ../../destan.github.io/_assets/stylesheets/menu.scss */
.navbar-toggle {
  margin-top: -50px;
}
