/* line 6, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li i {
  font-size: 3rem;
}
/* line 10, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li a {
  font-size: 2rem;
}
/* line 15, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(1) {
  background-color: #dd4814;
  color: white;
}
/* line 20, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(2) {
  background-color: #4285f4;
  color: white;
}
/* line 25, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(3) {
  background-color: #f4b400;
  color: white;
}
/* line 30, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(4) {
  background-color: #0f9d58;
  color: white;
}
/* line 35, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(5) {
  background-color: #dd4b39;
  color: white;
}
/* line 40, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(6) {
  background-color: #333333;
  color: white;
}
/* line 45, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(7) {
  background-color: #0976b4;
  color: white;
}
/* line 50, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(8) {
  background-color: #55acee;
  color: white;
}

/* line 59, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(1) {
  border-left: 4px solid #dd4814;
  padding-left: 4px;
}
/* line 64, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(2) {
  border-left: 4px solid #72d0eb;
  padding-left: 4px;
}
/* line 69, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(3) {
  border-left: 4px solid #6e2585;
  padding-left: 4px;
}
/* line 74, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(4) {
  border-left: 4px solid #0f9d58;
  padding-left: 4px;
}
/* line 79, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li {
  border-left: 4px solid gray;
  padding-left: 4px;
}

/* line 86, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#mobileMenuTrigger {
  font-size: 3rem;
  line-height: 3rem;
  float: right;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
}
