/* line 4, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li i {
  font-size: 3rem;
}
/* line 8, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li a {
  font-size: 2rem;
}
/* line 13, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(1) {
  background-color: #F5BA1E;
  color: white;
}
/* line 18, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(2) {
  background-color: #1E81F5;
  color: white;
}
/* line 23, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(3) {
  background-color: #8BB815;
  color: white;
}
/* line 28, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(4) {
  background-color: #dd4b39;
  color: white;
}
/* line 33, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(5) {
  background-color: #333333;
  color: white;
}
/* line 38, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(6) {
  background-color: #0976b4;
  color: white;
}
/* line 43, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(7) {
  background-color: #55acee;
  color: white;
}
/* line 48, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
.kg-touch-menu > ul > li:nth-child(8) {
  background-color: #F5BA1E;
  color: white;
}

/* line 57, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(1) {
  border-left: 4px solid #dd4814;
  padding-left: 4px;
}
/* line 62, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(2) {
  border-left: 4px solid #72d0eb;
  padding-left: 4px;
}
/* line 67, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(3) {
  border-left: 4px solid #6e2585;
  padding-left: 4px;
}
/* line 72, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li:nth-child(4) {
  border-left: 4px solid #8BB815;
  padding-left: 4px;
}
/* line 77, ../../destan.github.io/_assets/stylesheets/mobileMenu.scss */
#projectsMobileMenu ul > li {
  border-left: 4px solid gray;
  padding-left: 4px;
}
