@font-face {
  font-family: 'handwriting';
  src: url("font/handwriting-webfont.eot");
  src: url("font/handwriting-webfont.eot?#iefix") format("embedded-opentype"), url("font/handwriting-webfont.woff") format("woff"), url("font/handwriting-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../../dorukdestan.com/_assets/stylesheets/post.scss */
time {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-size: 12px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  height: 20px;
  margin-top: 10px;
  line-height: 19px;
  float: right;
}

/* line 27, ../../dorukdestan.com/_assets/stylesheets/post.scss */
.autograph {
  font-family: 'handwriting';
  font-size: 3rem;
  text-align: right;
  margin: 40px 0 10px 0;
  line-height: 3rem;
}

/* line 35, ../../dorukdestan.com/_assets/stylesheets/post.scss */
.tweet-btn {
  float: left;
  margin-right: 5px;
}
