@font-face {
  font-family: 'handwriting';
  src: url("font/handwriting-webfont.eot");
  src: url("font/handwriting-webfont.eot?#iefix") format("embedded-opentype"), url("font/handwriting-webfont.woff") format("woff"), url("font/handwriting-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../../destan.github.io/_assets/stylesheets/post.scss */
.meta-box {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

/* line 17, ../../destan.github.io/_assets/stylesheets/post.scss */
.autograph {
  font-family: 'handwriting';
  font-size: 3rem;
  text-align: right;
  margin: 40px 0 10px 0;
  line-height: 3rem;
}

/* line 25, ../../destan.github.io/_assets/stylesheets/post.scss */
.tweet-btn {
  float: left;
  margin-right: 5px;
}

/* line 30, ../../destan.github.io/_assets/stylesheets/post.scss */
h3 {
  font-size: 1.1rem;
  margin: 15px 0 10px 0;
  font-weight: bold;
}

/* line 36, ../../destan.github.io/_assets/stylesheets/post.scss */
h4 {
  font-weight: bold;
}

/* line 40, ../../destan.github.io/_assets/stylesheets/post.scss */
figure {
  border: 1px solid #eee;
}
/* line 43, ../../destan.github.io/_assets/stylesheets/post.scss */
figure figcaption {
  padding: 10px;
  background: #fafafa;
  color: #555;
}
/* line 49, ../../destan.github.io/_assets/stylesheets/post.scss */
figure img {
  max-width: 100%;
}
