<div id="mobileMenuTrigger" class="visible-xs">
  <i class="icon-menu"></i>
</div>

<nav id="touchMenu" class="kg-touch-menu">
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/talks/">Talks</a></li>

    <li id="projectsMobileMenu">
      <a href="/projects/">Projects</a>
      <ul>
        <li><a href="/projects#cevirgec">Çevirgeç</a></li>
        <li><a href="/projects#search-for-all">Search For All</a></li>
        <li><a href="/projects#search-for-all">Mobile Menu</a></li>
        <li><a href="/projects">All Projects</a></li>
      </ul>
    </li>
    <li><a href="https://plus.google.com/+DestanSarpkaya" rel="nofollow" target="_blank"><i class="icon-gplus"></i></a></li>
    <li><a href="https://github.com/destan" rel="nofollow" target="_blank"><i class="icon-github"></i></a></li>
    <li><a href="http://www.linkedin.com/in/dorukdestan" rel="nofollow" target="_blank"><i class="icon-linkedin"></i></a></li>
    <li><a href="https://twitter.com/dorukdestan" rel="nofollow" target="_blank"><i class="icon-twitter"></i></a></li>
  </ul>
  <button class="kg-close">↶ <span class="kg-back-text">Back</span></button>
</nav>