<nav id="touchMenu" class="example-menu kg-touch-menu">
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/blog/">Blog</a></li>

    <li><a href="/projects/">Projects</a></li>
    <li><a href="https://plus.google.com/+DestanSarpkaya" rel="nofollow" target="_blank"><i class="icon-gplus"></i></a></li>
    
    <li><a href="https://github.com/destan" rel="nofollow" target="_blank"><i class="icon-github"></i></a></li>
    <li><a href="http://www.linkedin.com/in/dorukdestan" rel="nofollow" target="_blank"><i class="icon-linkedin"></i></a></li>

    <li><a href="https://twitter.com/dorukdestan" rel="nofollow" target="_blank"><i class="icon-twitter"></i></a></li>
    <li class="disabled">&nbsp;</li>
  </ul>
  <button class="kg-close">↶ <span class="kg-back-text">Back</span></button>
</nav>