<style type="text/css">
  .modal hr{
    border: 1px solid #eee;
    border-bottom: 0;
  }
</style>

{% level_indicator  verbose 1 %}

<p>Java programlaya yeni başlayanlar, Java programlama dili ve OOP konusunda eksikleri olanlara yönelik.</p>

<hr>

{% level_indicator  verbose 2 %}

<p>Temel Java ve OOP konularında bilgisi olan, JavaSE ile birkaç uygulama geliştirmiş olanlara yönelik.</p>

<hr>

{% level_indicator  verbose 3 %}

<p>Özellikle JavaEE konusunda tutorial ve derslerle kendini geliştirmiş, kendi kendine denemeler yapanlara yönelik.</p>

<hr>

{% level_indicator  verbose 4 %}

<p>JavaSE veya JavaEE ile profesyonel düzeyde uygulama geliştirmiş olanlara yönelik.</p>

<hr>

{% level_indicator  verbose 5 %}

<p>JavaSE veya JavaEE ile profesyonel düzeyde uygulama geliştirmiş, dilin ve uygulama çatılarının çalışma prensiplerini derinlemesine bilen, merak edenlere yönelik.</p>