<div id="footerPusher"><!-- Closes in footer.html -->

  <header class="container">

  {% if page.post %}
    <div id="siteTitle" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a href="/" itemprop="name">{{ site.name }}</a> <span class="slogan">{{ site.slogan }}</span>
    </div>
  {% else %}
    <h1 id="siteTitle" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a href="/" itemprop="name">{{ site.name }}</a> <span class="slogan">{{ site.slogan }}</span>
    </h1>
  {% endif %}

    {% include menu.html %}
    {% include mobileMenu.html %}

    <div id="quoteContainer"></div>

  </header>