html, body {
  height: 100%;
}

h4{
  font-size: 18px;
}

legend{
  border-bottom: 1px solid #aaa;
  line-height: 1.5em;
}

.navbar-inner{
  background-color: #aaa !important;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
  color: #eee !important;
}

#projectsBtn{
  border-bottom: 3px solid #8BB815;
}

#blogBtn{
  border-bottom: 3px solid #1E81F5;
}

#aboutBtn{
  border-bottom: 3px solid #F5BA1E;
}

.slogan{
  font-size: 0.5em;
  border-left: 1px solid;
  padding-left: 5px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
}

#footer {
  margin-top: -72px;
  height: 50px;
  text-align: center;
  color: gray;
}

#socialBtn{
  font-size: 25px;
  color: whitesmoke;
  cursor: pointer;
}

#socialBtn a{
  padding-right: 19px;
  padding-left: 10px;
/*  border-bottom: 3px solid whitesmoke;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
  padding-top: 13px;
*/
}

.at-sign:before{
  content: "@"
}

#siteTitle > a, #siteTitle > a:hover, #siteTitle > a:visited, #siteTitle > a:active{
  color: #666;
  text-decoration: none;
}

.navbar .active{
  background-color: #555;
}

.navbar-inner{
  background-color: #888;
  border-left: 10px solid currentcolor;
  padding-left: 15px;
}

.post-date{
  height: 20px;
  margin-top: 10px;
  line-height: 23px;
}

.post{
  text-align: justify;
}