---
layout: default
title: Blog
in_menu: 1
menu_name: Blog
menu_class: blog
styles:
  - blog
---

<main class="container">

  {% include base/blog_pagination.html %}
  
  {% for post in paginator.posts %}
  {% unless post.draft %}
    <div class="blog-excerpt well {{post.categories | first}}">
      <strong>{{ post.title }}</strong>
      
      <div class="meta-box">
        <time itemprop="datePublished" title="Published on"><i class="icon-calendar"></i> {{ post.date | date_to_string }}</time>
        {% if post.duration != nil %}<div title="Reading duration" class="duration"><i class="icon-clock"></i> {{ post.duration }}</div>{% endif %}
      </div>

      <div>{{ post.excerpt }} <a href="{{ post.url }}">Continue reading »</a></div>
    </div>
  {% endunless %}
  {% endfor %}
  
  {% include base/blog_pagination.html %}
  
</main>
