@import 'variables';

h2{
  font-size: 1.5rem;
  border-bottom: 1px solid #aaa;
  line-height: 1.5em; /*this is meant to be `em`*/
  color: #333;
  margin-bottom: 1rem;
}

ul{
  padding-left: 20px;
}

#moreOfMe{
  display: none;
}

#me{
  max-width: 100%;
}

/*
  Timeline
  ========
*/
#timeline > div{
  overflow: hidden;
  white-space: nowrap;
}

/*let bootstrap tooltips wrap properly*/
#timeline > div .tooltip{
  white-space: normal;
}

.timeline-date{
  text-align: right;
  min-width: 6ex;
  display: inline-block;
}

.timeline-desc, .timeline-date{
  cursor: pointer;
}

.timeline-desc:before{
  content: " ";
}

.corporate{
  color: #1E81F5;
}

.life{
  /*color: #F5BA1E;*/
}

.love{
  color: firebrick;
}

.tooltip.left{
  margin-left: -37px !important;
  margin-top: -5px !important;
}