@import 'variables';

nav.navbar {
  border-radius: 0;
}

.navbar .active {
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:visited,
.navbar-default .navbar-nav>li.active>a:active{
  background: transparent;
  color: #515151;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active>a:hover{
  background-color: transparent;
}

.navbar-default {
  background-color: transparent;
  border: 0;

  .navbar-collapse{
    padding-left: 0;
  }

}

.navbar-nav>li>a {
  padding: 15px 0 5px 5px;
  font-size: 1.3rem;
}

.nav.navbar-nav:not(.social-icons)>li {
  margin-right: 10px;
  min-width: 100px;
}

.navbar .nav > li{
  border-bottom: 3px solid #888;
}

@mixin menu-item($color) {
  border-color: $color;
  @include transition(text-shadow 0.3s ease-in-out);

  &:hover, &.active{
    @include text-shadow(5px 2px 5px $color,-5px -2px 5px $color);
    @include transition(text-shadow 0.3s ease-in-out);

    a{
      color: #000 !important;
    }
  }
}

.navbar .nav > li.home{
  @include menu-item($home-color);
}

.navbar .nav > li.blog{
    @include menu-item($blog-color);
}

.navbar .nav > li.talks{
    @include menu-item($talks-color);
}

.navbar .nav > li.projects{
    @include menu-item($projects-color);
}

i.social-icons{
  display: inline-block;
  font-size: 24px;
}

.navbar .nav.social-icons{
  float: right;
  
  > li {
    border: 0;
  }
}

.navbar .nav > li:hover{

}

.navbar .nav.social-icons>li>a, .navbar .nav.social-icons>li>a:hover, .navbar .nav.social-icons>li>a:visited, .navbar .nav.social-icons>li>a:active {
  padding: 14px 10px 14px 10px;
}

.navbar-toggle {
  margin-top: -50px;
}