@import 'variables';

.kg-touch-menu>ul{

  >li{
    i{
      font-size: 3rem;
    }

    a{
      font-size: 2rem;
    }
  }

  >li:nth-child(1){
    background-color: $home-color;
    color: white;
  }

  >li:nth-child(2){
    background-color: $blog-color;
    color: white;
  }

  >li:nth-child(3){
    background-color: $talks-color;
    color: white;
  }

  >li:nth-child(4){
    background-color: $projects-color;
    color: white;
  }

  >li:nth-child(5){
    background-color: $googleplus-color;
    color: white;
  }

  >li:nth-child(6){
    background-color: $github-color;
    color: white;
  }

  >li:nth-child(7){
    background-color: $linkedin-color;
    color: white;
  }

  >li:nth-child(8){
    background-color: $twitter-color;
    color: white;
  }

}

#projectsMobileMenu{
  ul{
    >li:nth-child(1){
      border-left: 4px solid #dd4814;
      padding-left: 4px;
    }

    >li:nth-child(2){
      border-left: 4px solid #72d0eb;
      padding-left: 4px;
    }

    >li:nth-child(3){
      border-left: 4px solid #6e2585;
      padding-left: 4px;
    }

    >li:nth-child(4){
      border-left: 4px solid $projects-color;
      padding-left: 4px;
    }

    >li{
      border-left: 4px solid gray;
      padding-left: 4px;
    }
  }
}

#mobileMenuTrigger{
  font-size: 3rem;
  line-height: 3rem;
  float: right;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
}