//= require level-indicator
//= require post

.hint{

  background: #F2FFE4;
  padding: 10px 10px 10px 30px;
  border: 1px solid #A9CF81;

  &:before{
    content: "⚝";
    position: absolute;
    font-size: 2rem;
    margin-left: -28px;
    color: #336400;
  }
}

.warn{

  background: #FFFEE4;
  padding: 10px 10px 10px 30px;
  border: 1px solid #E0CE00;

  &:before{
    content: "⚠";
    position: absolute;
    font-size: 2rem;
    margin-left: -28px;
    color: #E0CE00;
  }
}

.error{

  background: #FFE4F2;
  padding: 10px 10px 10px 30px;
  color: #555;
  border: 1px solid #D399B7;

  &:before{
    content: "❌";
    position: absolute;
    font-size: 2rem;
    margin-left: -28px;
    color: #8A0000;
  }
}

nav{
  line-height: 1.7rem;

  header{
    font-size: 1.1rem;
    font-weight: bold;
  }

  ol{
    counter-reset: item;
    padding-left: 0;

    ol{
      padding-left: 20px;
    }

    li{
      display: block;

      &:before{
        content: counters(item, ".") " ";
        counter-increment: item;
      }
    }
  }

  
}