//= require level-indicator
//= require post

.warn{

  background: #FFFEE4;
  padding: 10px 10px 10px 30px;
  border: 1px solid #E0CE00;

  &:before{
    content: "⚠";
    position: absolute;
    font-size: 2rem;
    margin-left: -28px;
    color: #E0CE00;
  }
}

.error{

  background: #E01B00;
  padding: 10px 10px 10px 30px;
  border: 1px solid #7A2700;
  color: white;

  &:before{
    content: "❌";
    position: absolute;
    font-size: 2rem;
    margin-left: -28px;
    color: #8A0000;
  }
}