$footer-height: 50px;
$link-color: darkred;
$link-color-hover: dimgray;

$home-color: #dd4814;
$blog-color: #4285f4;
$talks-color: #f4b400;
$projects-color: #0f9d58;
$tutorials-color: #CC33AA;

$googleplus-color: #dd4b39;
$github-color: #333;
$linkedin-color: #0976b4;
$twitter-color: #55acee;