---
layout: default
post: true
---

{% if page.draft != true %}

<style type="text/css">
  .tweet-btn{
    float: left;
    margin-right: 5px;
  }
  .has-translation{
    border-bottom: 1px dashed;
    cursor: help;
  }
</style>

<span itemscope itemtype="http://schema.org/Article">

<div>
  <h1 itemprop="name">{{ page.title }}</h1>
  <time class="post-date pull-right" itemprop="datePublished">{{ page.date | date_to_string }}</time>
  {% if page.subtitle != nil %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
</div>

<article class="post">
  <span itemprop="articleBody">{{ content }}</span>

  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <!-- web font is from http://www.aringtypeface.com/southern-aire/ by Måns Grebäck -->
    <div class="autograph" itemprop="name">Destan Sarpkaya</div>
  </span>

  <!-- <span class="author-name">by Destan Sarpkaya</span> -->
  <div class="well post-footer">
    <div class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="dorukdestan" data-count="none" data-dnt="true">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    {% if page.tags.size > 0 %}
      <span>
        | Tags: {{ page.tags | array_to_sentence_string }}
      </span>
    {% endif %}

    {% if page.categories.size > 0 %}
      <span>
        | <a href="/blog/categories/">Categories</a>: 
        {% for category in page.categories %}
          <a href="{{site.url}}/blog/categories/{{category}}">{{category}}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>
</article>

<script type="text/javascript">
  $(function() {
    $('.has-translation').tooltip();
  });
</script>

</span> <!-- itemscope Article -->

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'dorukdestan'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


{% else %}
  <div style="text-align:center;margin-top: 50px;">
    <h1>404</h1>
    <h3>Not found</h3>
    <button onclick="history.go(-1)" class="btn btn-warning">« Back</button>
  </div>
{% endif %}